%html
  %head
    %title Collaborative Tweet
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/css/common.css' }
  %body
    %h1 Collaborative Tweet

    =styled_flash

    %form{:action => '/update', :method => 'POST' }
      %p
        %textarea{:name => 'status', :cols => 50, :rows => 3}
      %p
        = Rack::Csrf.tag(env)
        %input{:type => 'submit', :value => 'tweet'}
    %p
      ='%i collaborators /' % @count
      %a{:href => to('/oauth/auth')} collaborate
